* {
  margin: 0;
  padding: 0;
}

#map {
    border: 1px solid black;
    height: 480px;
    width:  800px;
    margin: 20px auto;
    padding-bottom: 70px;
    
}
#kartta {
    padding-top: 30px;
}

#viinituloste {
    width: 100%;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}


.wineContainer{
    width: 50%;
    height: 300px;
    margin: 0px;
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid olive;
    display: flex;
    padding: 10px;
}

.infoDiv {
    width: 80%;
    height: 300px;
    margin: 0px;
    padding-bottom: 70px;
    padding-left: 20px;
    
}
.imgDiv {
    align-content: center;
}


@media screen and (max-width: 1000px) {
    .wineContainer{
        width: 100%;
        height: 200px;
        margin: 0;
        padding: 2px;
        box-sizing: border-box;    
    }
}
body {
    margin: 0px auto;
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: #e3e6d0;
}

main {
    width: 87%;
    margin: auto;
    background-color: white;
    margin-top: 0px;
    padding-bottom: 80px;
}

header {
    text-align: center;
    height: 340px;
    background-image: url(/images/wineheader.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 3px;
    margin-top: 0px;
    
    
}
nav {
    align-content: center;
    height: 100px;
    background-color: #758614;
    padding-top: 20px;
    display: flex;
    
}

nav > span {
  flex: 1; 
}
.button{
    
    font-family: 'Raleway', sans-serif;
    font-size: 2.7em;
    color: antiquewhite;
    padding-bottom: 10px;
    border-color: darkolivegreen;
    width: 33%;
    text-align-last: center;
    
    
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 5em;
    color:black;
    padding-top: 130px;
}
h2 {
    text-align-last: center;
    font-family: 'Lobster', cursive;
    font-size: 3em;
    padding-top: 15px;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Lobster', cursive;
    font-size: 2em;
}

section {
    width: 100%;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.container {
  display: flex;
}
.container > div {
  flex: 1; 
}
.search{
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Raleway', sans-serif;
}



.searchBox {
float: center;
  width: 100%;
  border: 3px solid olive;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: black;
}



#slider {
    -webkit-appearance: none;
    width: 60%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider:hover {
    opacity: 1;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: olive;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: olive;
    cursor: pointer;
}

#makeus {
    text-align: left;
    padding-left: 28%;
}

img {
    height: 250px;
    margin-right: 2%;
}

.innerbox {
    width: 50%;
    height: 300px;
    margin: 0px;
    padding: 2px;
    box-sizing: border-box;
    border: 2px solid black;
    display: flex;
    padding: 10px;
}

.wineHeader {
    width: 100%;
    height: 40px;
    text-align: center;
}


.wineImage {
    float: right;
    margin-left: 1%;
    
}

.wineName {
    float: left;
    width: 30%;
}
.maa {
    padding-top: 70px;
    padding-bottom: 10px;
    margin-left: 0px;
}
.kuvaus {
    padding-bottom: 10px;
}

.winePrice{
    padding-bottom: 10px;
}

p {
    margin: 0;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

#etsiviini {
    width: 200px;
    height: 20px;
}

h2.makunimi {
   font-family: 'Raleway', sans-serif; 
font-size: 1.5em;
}

.makuhaku {
     background-color: olive;
    border: none;
    color: white;
    padding: 11px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 3px 3px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;   

}
.makuhaku:hover {
    background-color: antiquewhite;
    color: black;
    border: 2px, solid olive;
}

@media screen and (max-width: 1000px) {
    .innerbox {
        width: 100%;
        height: 200px;
        margin: 0;
        padding: 2px;
        box-sizing: border-box;    
    }
}

@media screen and (max-width: 1300px) {
    p {
        font-size: 0.8em;
    }
}

article {
    padding-left: 50px;
    padding-right: 50px;
}

#doku {
    color: black;
    padding-bottom: 20px;
    font-size: 2em;
    text-align: center;
}
