* {
  margin: 0;
  padding: 0;
}

#map {
    border: 1px solid black;
    height: 480px;
    width:  800px;
    margin: 20px auto;
    padding-bottom: 70px;
    
}
#kartta {
    padding-top: 30px;
}

#viinituloste {
    width: 100%;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}


.wineContainer{
    width: 50%;
    margin: 0px;
    box-sizing: border-box;
    border: 1px solid olive;
    display: flex;
    padding: 10px;
}

.wineList {
    width: 50%;
    margin: 0px;
    box-sizing: border-box;
    border: 1px solid olive;
    display: flex;
    padding: 10px;
}

.infoDiv {
    margin: 10px;
    width: 80%;
    
}
.imgDiv {
    text-align: right;
    margin: auto;
    
}



body {
    margin: 0px auto;
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: #e3e6d0;
}

main {
    width: 87%;
    margin: auto;
    background-color: white;
    margin-top: 0px;
    padding-bottom: 80px;
}
header {
    margin: 0;
}

#headerImg {
    width: 100%;
    margin: 0;
}

nav {
    
    box-sizing: border-box;
    text-align: center;
    height: 100px;
    background-color: #758614;
    display: flex;
    margin: auto;
    
}

.button{
    
    font-family: 'Raleway', sans-serif;
    color: antiquewhite;
    border-color: darkolivegreen;
    text-align: center;
    font-size: 1.8em;
    margin: auto;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color:black;
}
h2 {
    text-align-last: center;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 2.5em;
    padding-top: 15px;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.8em;
    
}

.document-h3 {
    margin: 5px 0;
    background-color: #758614;
    font-size: 1.5em;
}

h4 {
    font-family: 'Raleway', sans-serif;
    margin: 5px 0;
}

section {
    width: 100%;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.container {
  display: flex;
}

.container > div {
  flex: 1; 
}

.search{
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Raleway', sans-serif;
}



.searchBox {
float: center;
  width: 100%;
  border: 3px solid olive;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: black;
}


#slider {
    -webkit-appearance: none;
    width: 60%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider:hover {
    opacity: 1;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: olive;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: olive;
    cursor: pointer;
}

#makeus {
    text-align: left;
    padding-left: 28%;
}

.wineImage {
    height: 250px;
    margin-right: 2%;
    float: right;
    margin-left: 1%;
}

.wineHeader {
    width: 100%;
    height: 40px;
    text-align: center;
    font-family: 'Satisfy', cursive;
}

.wineName {
    float: left;
    width: 30%;
}

.maa {
    padding-top: 70px;
    padding-bottom: 10px;
    margin-left: 0px;
}

.kuvaus {
    padding-bottom: 10px;
}

.winePrice{
    padding-bottom: 10px;
}

p {
    margin: 0;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

#etsiviini {
    width: 200px;
    height: 20px;
}

h2.makunimi {
   font-family: 'Raleway', sans-serif; 
font-size: 1.5em;
}

.makuhaku {
     background-color: olive;
    border: none;
    color: white;
    padding: 11px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 3px 3px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;   

}
.makuhaku:hover {
    background-color: antiquewhite;
    color: black;
    border: 2px, solid olive;
}



/* Dokumentaation css-määritykset */

.document-article {
    color: black;
    padding-left: 60px;
    padding-right: 60px;
    margin: 10px;
    font-size: 1.2em;
}

#back {
    color: black;
    font-size: 2em;
}
#document-header {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .wineContainer{
        width: 100%;
        margin: 0;
        padding: 2px;
        box-sizing: border-box;    
    }
    .wineList {
        width: 100%;
        margin: 0;
        padding: 2px;
        box-sizing: border-box;  
    }
    .button {
        display: block;
    }
    
}